NUMPY

In [9]:
import numpy as np                     #Kütüphanemizi tanıtma biçimimiz

In [ ]:
map()                                     #map():Bu fonksiyon, başka bir fonksiyon yardımı ile bir serideki değerleri değiştirmeye yarar.

In [11]:
a = np.array([1, 2, 3])   #Python’dan aşina olduğumuz diziler. Numpy’da as np tanımlamamızdan sonra çağırdıktan sonra
b = np.array((3, 4, 5))   # array keyword’den sonra parantez içine gerek brackets”[]” gerekse parantez içine almamıza göre oluşturabiliriz

In [12]:
print(a.shape) #bize (3,) sonucunu verir ilk değer row satır ikinci değer column yani sütün değerini verir biz az önce 3 satırlı vektör dizisi tanımladık.

(3,)

In [13]:
c = np.array([ [1, 2, 3], [4, 5, 6] ])   #2 boyutlu veri,2 köseli parantez 2 boyutlu oldugunu gösterir

In [14]:
print(b.dtype)               # 2d array’imizde hangi veri tipleri var

int64

In [15]:
zeros = np.zeros((3, 3))
print(zeros)                  #3×3 lük sıfır matrix

[[0. 0. 0.]
 [0. 0. 0.]
 [0. 0. 0.]]

In [16]:
ones = np.ones((3, 3)) 
print(ones)                    #3x3lük birim matrix

[[1. 1. 1.]
 [1. 1. 1.]
 [1. 1. 1.]]

In [17]:
full = np.full((3, 3), 5) 
print(full)                   #3×3 lük 5 birim matrix

[[5 5 5]
 [5 5 5]
 [5 5 5]]

In [18]:
eye = np.eye(5) 
print(eye)                 #diagonal birlerle dolu 5x5lik matrix

[[1. 0. 0. 0. 0.]
 [0. 1. 0. 0. 0.]
 [0. 0. 1. 0. 0.]
 [0. 0. 0. 1. 0.]
 [0. 0. 0. 0. 1.]]

In [19]:
random = np.random.random((3, 3)) 
print(random)                #3×3 lük 0 ile 1 arasında sayılar üretir ee peki neden float yani ondalıklı ve neden 0 ile 1 arasında

[[0.10908599 0.37786568 0.6044237 ]
 [0.19775074 0.42122425 0.46374653]
 [0.32790297 0.24112908 0.27054952]]

In [20]:
arr = np.random.randint(20, size=(5, 5))       #sorduğumuz tüm soruların cevabı burada randint bize sadece integer sayılar döndürür
print(arr)                                  # ve ilk index olan 20 sayısı bize 0 ile 20 arasında değerler üretmeye sağlar 5×5 lik matrix

[[13 17 12  9  0]
 [ 1 13 15  8 11]
 [14 18 14  4  1]
 [18  8 15  5 16]
 [ 7 13  5  6 11]]

In [21]:
x = np.array([1,2,3])               #Numpy ile toplama islemi
y = np.array([4,5,6])
z = x+y
print(z)

[5 7 9]

PANDAS

In [22]:
import pandas as pd

In [ ]:
          #Pandas yüksek performanslı, kullanımı kolay veri yapılandırma ve veri analizi yapabileceğimiz bir kütüphanedir. 
          #Pandas ile excel, csv, json vs. dosyaları okuyup, yazabilirsiniz.
          #Örnek bir csv dosyasını okumak istersek;

df = pd.read_csv("/tmp/test.csv")

In [ ]:
#dataframe hakkında bilgi almak istediğimizde şu satırları kullanabiliriz.

df.info()
df.shape
df.describe()

In [25]:
s = pd.Series([1,3,5,np.nan,6,8])   #series olusturma
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [26]:
# NumPy dizini, datetime dizini ve etiketli sütunlarla geçirerek bir DataFrame oluşturma:
dates = pd.date_range('20130101', periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [27]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2013-01-01  1.527360  0.537670  2.047263 -2.510081
2013-01-02  0.310932  0.594108 -1.558184  1.334963
2013-01-03  1.182738 -1.141675  0.077025  0.055338
2013-01-04 -0.974643  1.172207  0.224549 -1.030487
2013-01-05 -0.706695 -0.576970  0.376634 -1.418254
2013-01-06 -0.149081 -0.637594  1.622504  0.394279

In [ ]:
# Dizilere dönüştürülebilen nesnelerin bir dict  geçirerek bir DataFrame oluşturma.
df2 = pd.DataFrame({ 'A' : 1.,
                         'B' : pd.Timestamp('20130102'),
                         'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
                         'D' : np.array([3] * 4,dtype='int32'),
                         'E' : pd.Categorical(["test","train","test","train"]),
                         'F' : 'foo' })
df2

In [29]:
#Belirli dtypes’e sahip olma
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [30]:
df.head(2)      #default olarak ilk 5 'e bakar, parantez icine ne yazarsak onlari getirir.

                   A         B         C         D
2013-01-01  1.527360  0.537670  2.047263 -2.510081
2013-01-02  0.310932  0.594108 -1.558184  1.334963

In [31]:
df.tail(2)       #default olarak son 5 'e bakar

                   A         B         C         D
2013-01-05 -0.706695 -0.576970  0.376634 -1.418254
2013-01-06 -0.149081 -0.637594  1.622504  0.394279

In [32]:
###Dizini, sütunları ve temel numpy verilerini görüntüleme:

In [34]:
df.index        #row degerleri,satirlar

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [33]:
df.columns       #sütunlar

Index(['A', 'B', 'C', 'D'], dtype='object')

In [35]:
df.values

array([[ 1.52735996,  0.53767   ,  2.04726296, -2.51008072],
       [ 0.31093162,  0.59410799, -1.55818406,  1.33496259],
       [ 1.18273794, -1.14167535,  0.07702468,  0.05533818],
       [-0.97464313,  1.1722068 ,  0.22454859, -1.03048714],
       [-0.70669535, -0.57697023,  0.37663414, -1.41825404],
       [-0.14908113, -0.63759387,  1.62250384,  0.3942791 ]])

In [36]:
#describe, verilerinizin hızlı bir istatistik özetini gösterir:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.198435 -0.008709  0.464965 -0.529040
std    1.006349  0.900945  1.276933  1.388178
min   -0.974643 -1.141675 -1.558184 -2.510081
25%   -0.567292 -0.622438  0.113906 -1.321312
50%    0.080925 -0.019650  0.300591 -0.487574
75%    0.964786  0.579998  1.311036  0.309544
max    1.527360  1.172207  2.047263  1.334963

In [37]:
#Verilerinizi transpoze etme:
df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A    1.527360    0.310932    1.182738   -0.974643   -0.706695   -0.149081
B    0.537670    0.594108   -1.141675    1.172207   -0.576970   -0.637594
C    2.047263   -1.558184    0.077025    0.224549    0.376634    1.622504
D   -2.510081    1.334963    0.055338   -1.030487   -1.418254    0.394279

In [38]:
#Bir eksene göre sıralama:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2013-01-01 -2.510081  2.047263  0.537670  1.527360
2013-01-02  1.334963 -1.558184  0.594108  0.310932
2013-01-03  0.055338  0.077025 -1.141675  1.182738
2013-01-04 -1.030487  0.224549  1.172207 -0.974643
2013-01-05 -1.418254  0.376634 -0.576970 -0.706695
2013-01-06  0.394279  1.622504 -0.637594 -0.149081

In [39]:
#Değerlere göre sıralama:
df.sort_values(by='B')

                   A         B         C         D
2013-01-03  1.182738 -1.141675  0.077025  0.055338
2013-01-06 -0.149081 -0.637594  1.622504  0.394279
2013-01-05 -0.706695 -0.576970  0.376634 -1.418254
2013-01-01  1.527360  0.537670  2.047263 -2.510081
2013-01-02  0.310932  0.594108 -1.558184  1.334963
2013-01-04 -0.974643  1.172207  0.224549 -1.030487

In [40]:
#Bir Seriyi seçen tek bir sütun seçmek, df.A’ya eşdeğerdir.
df['A']

2013-01-01    1.527360
2013-01-02    0.310932
2013-01-03    1.182738
2013-01-04   -0.974643
2013-01-05   -0.706695
2013-01-06   -0.149081
Freq: D, Name: A, dtype: float64

In [41]:
#Satırları dilimleyerek [] ile seçme.
df[0:3]

                   A         B         C         D
2013-01-01  1.527360  0.537670  2.047263 -2.510081
2013-01-02  0.310932  0.594108 -1.558184  1.334963
2013-01-03  1.182738 -1.141675  0.077025  0.055338

In [42]:
#Bir etiket kullanarak kesit almak için
df.loc[dates[0]]

A    1.527360
B    0.537670
C    2.047263
D   -2.510081
Name: 2013-01-01 00:00:00, dtype: float64

In [43]:
#Etikete göre çok eksenli seçme
df.loc[:,['A','B']]

                   A         B
2013-01-01  1.527360  0.537670
2013-01-02  0.310932  0.594108
2013-01-03  1.182738 -1.141675
2013-01-04 -0.974643  1.172207
2013-01-05 -0.706695 -0.576970
2013-01-06 -0.149081 -0.637594

In [44]:
#Etiket dilimleme gösteriliyor, her iki bitiş noktası da dahil edilmiştir
df.loc['20130102':'20130104',['A','B']]

                   A         B
2013-01-02  0.310932  0.594108
2013-01-03  1.182738 -1.141675
2013-01-04 -0.974643  1.172207

In [45]:
#Döndürülen nesnenin boyutlarındaki azalma
df.loc['20130102',['A','B']]

A    0.310932
B    0.594108
Name: 2013-01-02 00:00:00, dtype: float64

In [ ]:
#Skalalı bir değer elde etmek için
 df.loc[dates[0],'A']

In [48]:
#Bir skalaya hızlı erişim elde etmek için (önceki yöntemle eşdeğer)
df.at[dates[0],'A']

1.5273599623893785

In [49]:
#Aktarılan tam sayıların konumu üzerinden seçim yapın
df.iloc[3]

A   -0.974643
B    1.172207
C    0.224549
D   -1.030487
Name: 2013-01-04 00:00:00, dtype: float64

In [50]:
# Tamsayı dilimlerle, numpy / python’a benzer şekilde davranır
df.iloc[3:5,0:2]

                   A         B
2013-01-04 -0.974643  1.172207
2013-01-05 -0.706695 -0.576970

In [51]:
#Numpy / python stiline benzer tam sayı konum konumlarının listelerine göre
df.iloc[[1,2,4],[0,2]]

                   A         C
2013-01-02  0.310932 -1.558184
2013-01-03  1.182738  0.077025
2013-01-05 -0.706695  0.376634

In [52]:
#Satırları açıkça dilimlemek için
df.iloc[1:3,:]

                   A         B         C         D
2013-01-02  0.310932  0.594108 -1.558184  1.334963
2013-01-03  1.182738 -1.141675  0.077025  0.055338

In [53]:
#Sütunları açıkça dilimlemek için
df.iloc[:,1:3]

                   B         C
2013-01-01  0.537670  2.047263
2013-01-02  0.594108 -1.558184
2013-01-03 -1.141675  0.077025
2013-01-04  1.172207  0.224549
2013-01-05 -0.576970  0.376634
2013-01-06 -0.637594  1.622504

In [54]:
#Açıkça bir değer elde etmek için
df.iloc[1,1]

0.5941079944071662

In [55]:
#Verileri seçmek için tek bir sütun değeri kullanma. Boolean dizi olusturma
df[df.A > 0]

                   A         B         C         D
2013-01-01  1.527360  0.537670  2.047263 -2.510081
2013-01-02  0.310932  0.594108 -1.558184  1.334963
2013-01-03  1.182738 -1.141675  0.077025  0.055338

In [56]:
#Bir Boolean koşulunun karşılandığı bir DataFrame’den değer seçme.
df[df > 0]

                   A         B         C         D
2013-01-01  1.527360  0.537670  2.047263       NaN
2013-01-02  0.310932  0.594108       NaN  1.334963
2013-01-03  1.182738       NaN  0.077025  0.055338
2013-01-04       NaN  1.172207  0.224549       NaN
2013-01-05       NaN       NaN  0.376634       NaN
2013-01-06       NaN       NaN  1.622504  0.394279

In [57]:
#Filtreleme için isin() metodunu kullanma:
df2 = df.copy()
df2

                   A         B         C         D
2013-01-01  1.527360  0.537670  2.047263 -2.510081
2013-01-02  0.310932  0.594108 -1.558184  1.334963
2013-01-03  1.182738 -1.141675  0.077025  0.055338
2013-01-04 -0.974643  1.172207  0.224549 -1.030487
2013-01-05 -0.706695 -0.576970  0.376634 -1.418254
2013-01-06 -0.149081 -0.637594  1.622504  0.394279

In [58]:
df2['E'] = ['one', 'one','two','three','four','three']
df2

                   A         B         C         D      E
2013-01-01 -1.360259  0.615166 -0.872299 -0.946098    one
2013-01-02 -1.763306  0.639270  0.929278  0.771950    one
2013-01-03  1.002884  1.135026 -0.310465  0.831539    two
2013-01-04  1.184672  0.319436  0.802554 -0.478440  three
2013-01-05  1.466500 -1.085028 -1.303361  1.601426   four
2013-01-06 -0.985747 -0.599194 -1.843486  0.188128  three

In [59]:
df2[df2['E'].isin(['two','four'])]

                   A         B         C         D     E
2013-01-03  1.002884  1.135026 -0.310465  0.831539   two
2013-01-05  1.466500 -1.085028 -1.303361  1.601426  four

In [61]:
#Veri eksik olan satırları bırakmak için.
df2.dropna(how='any')

                   A         B         C         D
2013-01-01  1.527360  0.537670  2.047263 -2.510081
2013-01-02  0.310932  0.594108 -1.558184  1.334963
2013-01-03  1.182738 -1.141675  0.077025  0.055338
2013-01-04 -0.974643  1.172207  0.224549 -1.030487
2013-01-05 -0.706695 -0.576970  0.376634 -1.418254
2013-01-06 -0.149081 -0.637594  1.622504  0.394279

In [62]:
#Eksik verileri doldurmak için
df2.fillna(value=5)

                   A         B         C         D
2013-01-01  1.527360  0.537670  2.047263 -2.510081
2013-01-02  0.310932  0.594108 -1.558184  1.334963
2013-01-03  1.182738 -1.141675  0.077025  0.055338
2013-01-04 -0.974643  1.172207  0.224549 -1.030487
2013-01-05 -0.706695 -0.576970  0.376634 -1.418254
2013-01-06 -0.149081 -0.637594  1.622504  0.394279

In [63]:
#Değerlerin nan olduğu boolean mask almak için
pd.isnull(df2)

                A      B      C      D
2013-01-01  False  False  False  False
2013-01-02  False  False  False  False
2013-01-03  False  False  False  False
2013-01-04  False  False  False  False
2013-01-05  False  False  False  False
2013-01-06  False  False  False  False

In [64]:
#Açıklayıcı bir istatistik gerçekleştirme
df.mean()

A    0.198435
B   -0.008709
C    0.464965
D   -0.529040
dtype: float64

In [ ]:
#Diğer eksende aynı işlem
df.mean(1)

In [66]:
#Farklı boyutluluk ve hizalama gerektiren nesnelerle çalışma. Buna ek olarak, pandas belirtilen boyut boyunca otomatik olarak yayın yapar.
s = pd.Series([1,3,5,np.nan,6,8], index=dates).shift(2)
s

2013-01-01    NaN
2013-01-02    NaN
2013-01-03    1.0
2013-01-04    3.0
2013-01-05    5.0
2013-01-06    NaN
Freq: D, dtype: float64

In [67]:
df.sub(s, axis='index')

                   A         B         C         D
2013-01-01       NaN       NaN       NaN       NaN
2013-01-02       NaN       NaN       NaN       NaN
2013-01-03  0.182738 -2.141675 -0.922975 -0.944662
2013-01-04 -3.974643 -1.827793 -2.775451 -4.030487
2013-01-05 -5.706695 -5.576970 -4.623366 -6.418254
2013-01-06       NaN       NaN       NaN       NaN

In [ ]:
#Verilere fonksiyonlar uygulama
df.apply(np.cumsum)

In [68]:
df.apply(lambda x: x.max() - x.min())

A    2.502003
B    2.313882
C    3.605447
D    3.845043
dtype: float64

In [69]:
s = pd.Series(np.random.randint(0, 7, size=10))
s

0    0
1    2
2    5
3    1
4    6
5    1
6    5
7    1
8    3
9    3
dtype: int64

In [70]:
s.value_counts()

1    3
5    2
3    2
0    1
2    1
6    1
dtype: int64

In [71]:
#Pandas, Seriler, DataFrame ve Panel nesnelerini, birleşim / birleştirme türü işlemler durumunda endeksler ve ilişkisel cebir işlevselliği için çeşitli ayarlama mantığıyla kolayca birleştirmek için çeşitli olanaklar sağlar.
df = pd.DataFrame(np.random.randn(10, 4))
df

          0         1         2         3
0  0.509946 -0.470123 -1.030783  0.777987
1  0.416484 -0.114633  0.014530 -1.496943
2  0.033765 -0.791197 -0.485456  1.899116
3  0.483737  1.939572 -0.795400 -1.579841
4 -0.308197  0.212267  3.112502  0.416089
5 -0.886896  1.768800 -0.479511 -0.059716
6  0.152915  0.709606  0.737399  0.017250
7  1.001408 -0.813837 -2.919377 -0.970018
8  1.652481  0.067994 -0.814147 -2.164229
9  1.763465 -1.220547  0.259219  0.784216

In [73]:
pieces = [df[:3], df[3:7], df[7:]]
pd.concat(pieces)

          0         1         2         3
0  0.509946 -0.470123 -1.030783  0.777987
1  0.416484 -0.114633  0.014530 -1.496943
2  0.033765 -0.791197 -0.485456  1.899116
3  0.483737  1.939572 -0.795400 -1.579841
4 -0.308197  0.212267  3.112502  0.416089
5 -0.886896  1.768800 -0.479511 -0.059716
6  0.152915  0.709606  0.737399  0.017250
7  1.001408 -0.813837 -2.919377 -0.970018
8  1.652481  0.067994 -0.814147 -2.164229
9  1.763465 -1.220547  0.259219  0.784216

In [75]:
#SQL şeklinde birleştirmek.
left = pd.DataFrame({'key': ['foo', 'foo'], 'lval': [1, 2]})
right = pd.DataFrame({'key': ['foo', 'foo'], 'rval': [4, 5]})

In [76]:
left

   key  lval
0  foo     1
1  foo     2

In [77]:
right

   key  rval
0  foo     4
1  foo     5

In [78]:
pd.merge(left, right, on='key')

   key  lval  rval
0  foo     1     4
1  foo     1     5
2  foo     2     4
3  foo     2     5

In [79]:
#Bir dataframe’e satır ekleme.
df = pd.DataFrame(np.random.randn(8, 4), columns=['A','B','C','D'])
df

          A         B         C         D
0  0.630852 -0.533285 -1.024826 -0.240043
1  0.568818 -0.293042  0.222264  0.463266
2  0.905616 -0.074705  0.931250 -1.400503
3 -1.238222  2.314614  0.260164  0.558596
4 -0.824291  0.963205 -0.861522 -1.259779
5 -1.125742 -0.743493  0.249701  0.744607
6  0.475757  0.087088 -1.039423  1.473803
7 -0.149482  0.188412  0.085367  0.575520

In [81]:
s = df.iloc[3]

In [82]:
df.append(s, ignore_index=True)

          A         B         C         D
0  0.630852 -0.533285 -1.024826 -0.240043
1  0.568818 -0.293042  0.222264  0.463266
2  0.905616 -0.074705  0.931250 -1.400503
3 -1.238222  2.314614  0.260164  0.558596
4 -0.824291  0.963205 -0.861522 -1.259779
5 -1.125742 -0.743493  0.249701  0.744607
6  0.475757  0.087088 -1.039423  1.473803
7 -0.149482  0.188412  0.085367  0.575520
8 -1.238222  2.314614  0.260164  0.558596

In [83]:
#Sonuç gruplarını gruplama ve ardından bir sum fonksiyonu uygulama.
df.groupby('A').sum()

                  B         C         D
A
-1.238222  2.314614  0.260164  0.558596
-1.125742 -0.743493  0.249701  0.744607
-0.824291  0.963205 -0.861522 -1.259779
-0.149482  0.188412  0.085367  0.575520
 0.475757  0.087088 -1.039423  1.473803
 0.568818 -0.293042  0.222264  0.463266
 0.630852 -0.533285 -1.024826 -0.240043
 0.905616 -0.074705  0.931250 -1.400503

In [84]:
#Birden çok sütuna göre gruplama hiyerarşik bir dizin oluşturur ve bu dizini uyguluyoruz.
df.groupby(['A','B']).sum()

                            C         D
A         B
-1.238222  2.314614  0.260164  0.558596
-1.125742 -0.743493  0.249701  0.744607
-0.824291  0.963205 -0.861522 -1.259779
-0.149482  0.188412  0.085367  0.575520
 0.475757  0.087088 -1.039423  1.473803
 0.568818 -0.293042  0.222264  0.463266
 0.630852 -0.533285 -1.024826 -0.240043
 0.905616 -0.074705  0.931250 -1.400503

In [99]:
#Yeniden Şekillendirme
tuples = list(zip(*[['bar', 'bar', 'baz', 'baz',
                         'foo', 'foo', 'qux', 'qux'],
                        ['one', 'two', 'one', 'two',
                        'one', 'two', 'one', 'two']]))
tuples

[('bar', 'one'),
 ('bar', 'two'),
 ('baz', 'one'),
 ('baz', 'two'),
 ('foo', 'one'),
 ('foo', 'two'),
 ('qux', 'one'),
 ('qux', 'two')]

In [101]:
index = pd.MultiIndex.from_tuples(tuples, names=['first', 'second'])
index

MultiIndex([('bar', 'one'),
            ('bar', 'two'),
            ('baz', 'one'),
            ('baz', 'two'),
            ('foo', 'one'),
            ('foo', 'two'),
            ('qux', 'one'),
            ('qux', 'two')],
           names=['first', 'second'])

In [92]:
df = pd.DataFrame(np.random.randn(8, 2), index=index, columns=['A', 'B'])
df

                     A         B
first second
bar   one     1.992297  0.323887
      two    -0.659257  0.998783
baz   one    -0.267194 -1.883628
      two    -0.135812  0.367968
foo   one     2.350944 -0.131381
      two    -0.055969 -0.201698
qux   one     0.513261  0.487879
      two    -0.243994 -0.744394

In [91]:
df2 = df[:4]
df2

                     A         B
first second
bar   one     1.245130  0.503237
      two    -0.205204 -0.226786
baz   one     0.641275 -1.453945
      two     0.263510 -1.411309

In [93]:
#Stack() metodu, DataFrame’in sütunlarındaki bir seviyeyi “sıkıştırır”.
stacked = df2.stack()
stacked

first  second
bar    one     A    1.245130
               B    0.503237
       two     A   -0.205204
               B   -0.226786
baz    one     A    0.641275
               B   -1.453945
       two     A    0.263510
               B   -1.411309
dtype: float64

In [94]:
#“Yığınlanmış” bir DataFrame veya Series (dizin olarak bir MultiIndex’e sahip) ile stack() ters işlemi ise unstack()  metodudur ve varsayılan olarak son seviyeyi kaldırır:
stacked.unstack()

                     A         B
first second
bar   one     1.245130  0.503237
      two    -0.205204 -0.226786
baz   one     0.641275 -1.453945
      two     0.263510 -1.411309

In [95]:
stacked.unstack(1)

second        one       two
first
bar   A  1.245130 -0.205204
      B  0.503237 -0.226786
baz   A  0.641275  0.263510
      B -1.453945 -1.411309

In [96]:
stacked.unstack(0)

first          bar       baz
second
one    A  1.245130  0.641275
       B  0.503237 -1.453945
two    A -0.205204  0.263510
       B -0.226786 -1.411309

In [98]:
#Pivot Tables.
df = pd.DataFrame({'A' : ['one', 'one', 'two', 'three'] * 3,
                       'B' : ['A', 'B', 'C'] * 4,
                       'C' : ['foo', 'foo', 'foo', 'bar', 'bar', 'bar'] * 2,
                      'D' : np.random.randn(12),
                       'E' : np.random.randn(12)})
df

        A  B    C         D         E
0     one  A  foo -0.041350 -0.239363
1     one  B  foo -1.212919 -0.520344
2     two  C  foo  1.041186 -0.185975
3   three  A  bar  0.442622 -0.904777
4     one  B  bar  0.309687 -1.087006
5     one  C  bar -1.116469  0.250198
6     two  A  foo  0.301320 -1.619557
7   three  B  foo -0.294649  1.584544
8     one  C  foo -0.654267  2.248086
9     one  A  bar -0.781703 -0.643640
10    two  B  bar  0.399499 -0.399272
11  three  C  bar  1.962003  0.404792

In [102]:
#Bu verilerden çok basit bir şekilde pivot tablolar üretebiliriz:
pd.pivot_table(df, values='D', index=['A', 'B'], columns=['C'])

C             bar       foo
A     B
one   A -0.781703 -0.041350
      B  0.309687 -1.212919
      C -1.116469 -0.654267
three A  0.442622       NaN
      B       NaN -0.294649
      C  1.962003       NaN
two   A       NaN  0.301320
      B  0.399499       NaN
      C       NaN  1.041186

In [103]:
#Veri Alma / Çıkarma
#CSV
#Writing to a csv file
df.to_csv('foo.csv')

In [104]:
pd.read_csv('foo.csv')

    Unnamed: 0      A  B    C         D         E
0            0    one  A  foo -0.041350 -0.239363
1            1    one  B  foo -1.212919 -0.520344
2            2    two  C  foo  1.041186 -0.185975
3            3  three  A  bar  0.442622 -0.904777
4            4    one  B  bar  0.309687 -1.087006
5            5    one  C  bar -1.116469  0.250198
6            6    two  A  foo  0.301320 -1.619557
7            7  three  B  foo -0.294649  1.584544
8            8    one  C  foo -0.654267  2.248086
9            9    one  A  bar -0.781703 -0.643640
10          10    two  B  bar  0.399499 -0.399272
11          11  three  C  bar  1.962003  0.404792